/*-- Feel free to remove these styles or customise in your own stylesheet 👍 --*/

*{
    padding:0;
    border:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(168, 195, 204);
}


.container{
    width: 300px;
    margin: 100px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.container img{
    border-radius: 10px;
}
.attribution { 
    width: 300px; 
    margin: auto;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
